<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login • Blind Shield</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>

<div class="login-box">
    <h2>Login</h2>

    <div class="input">
        <label>Email</label>
        <input id="email" type="text" placeholder="seuemail@email.com">
    </div>

    <div class="input">
        <label>Senha</label>
        <input id="senha" type="password" placeholder="********">
    </div>

    <button onclick="login()">Entrar</button>

    <div id="erro" class="error">Credenciais incorretas!</div>
</div>

<script>
function login() {
    const email = document.getElementById("email").value.trim();
    const senha = document.getElementById("senha").value.trim();

    // Checa se o email não está vazio e senha fixa
    if (email !== "" && senha === "12345678") {
        window.location.href = "inicioCliente.html"; // Redireciona para o painel
    } else {
        document.getElementById("erro").style.display = "block";
    }
}
</script>

</body>
</html>
