<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel Inicial • Sistema de Blindagem</title>
    <link rel="stylesheet" href="css/telaVeiculos.css">
</head>

<body>

    <!-- MENU LATERAL -->
    <div class="sidebar">
        <h2>BlindShield</h2>
        <div class="nav-item">
            <ul>
                <li><a href="inicioCliente.html">Inicio</a></li>
                <li><a href="telaVeiculos.html">Seus veiculos</a></li>
                <li><a href="telaConfig.html">Configurações</a></li>
            </ul>
        </div>
    </div>

    <!-- ÁREA PRINCIPAL -->
    <div class="content">

        <div class="hero">
            <div class="hero-text">
                <div id="nome"></div>
                <h1>Seus veiculos</h1>
            </div>
        </div>

        <div class="cards" id="carros">
            <div class="card">
                <h3>Nível atual da blindagem</h3>
                <p><b> III-A</b> • Proteção contra armas curtas.</p>
                <img
                    src="https://dupont.scene7.com/is/image/Dupont/carro-blindado-compass?fmt=png-alpha" />
            </div>
        </div>


        <!-- <h2 class="section-title">Informações Técnicas</h2> 
    <div class="info-list">
        • Vidros: Multicamadas 19mm<br>
        • Peso adicionado: +180kg<br>
        • Proteção contra 9mm e .44 Magnum<br>
        • Estrutura reforçada em portas, colunas e teto<br>
        • Proteção antiestilhaço total<br>
        • Testes internos: aprovados (último ciclo em 03/2025)
    </div>

    <h2 class="section-title">Configurações do Sistema</h2>
    <div class="info-list">
        • Alertas de revisão ativados<br>
        • Relatórios automáticos semanais<br>
        • Backup em nuvem habilitado<br>
        • Sincronização diária ativa
    </div>-->

    </div>

    <script src="js/inicioCliente.js"></script>
</body>

</html>